@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col">
        <p><a href="#" id="LoginButton" class="btn btn-primary btn-lg">Login</a></p>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/index.js"></script>
}